# macos auto generated
/**/.DS_Store

# ide auto generated
.idea

# vscode auto generated
.vscode

mysql/data/*

redis/data

/**/log/*

/**/*.log

/nginx/site-enabled/*

/nginx/ssl/*

/cache/composer-cache/*
/cache/npm-cache/*
/cache/gradle-cache/*
/cache/maven-cache/*
/cache

/mongo/data
/mongo/log

/python/aws

.env
